@page
@model IndexModel
@{
    ViewData["Title"] = "Gestión";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>App para gestión de asociados, créditos, cuentas de Fonfapres</a>.</p>
</div>
